doc/avr_isp.jpg filter=lfs diff=lfs merge=lfs -text
doc/beginner_en.pdf filter=lfs diff=lfs merge=lfs -text
doc/datasheet.pdf filter=lfs diff=lfs merge=lfs -text
doc/doc1022.pdf filter=lfs diff=lfs merge=lfs -text
add filter=lfs diff=lfs merge=lfs -text
AVR2/1200def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/2313def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/2323def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/2343def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/4414def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/4433def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/4434def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/8515def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/8535def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/AT86RF401def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/avrasm2.exe filter=lfs diff=lfs merge=lfs -text
AVR2/can128def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/can32def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/can64def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m103def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m1280def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m1281def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m128def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m161def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m162def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m163def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m164Pdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m165Pdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m165def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m166def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m168Pdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m168def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m169Pdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m169def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m16HVAdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m16def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m2560def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m2561def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m323def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m324Pdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m3250Pdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m3250def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m325Pdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m325def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m328Pdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m3290Pdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m3290def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m329Pdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m329def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m32def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m406def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m48Pdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m48def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m640def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m644Pdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m644def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m6450def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m645def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m6490def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m649def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m64def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m8515def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m8535def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m88Pdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m88def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/m8def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/pwm216def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/pwm2Bdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/pwm2def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/pwm316def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/pwm3Bdef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/pwm3def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn11def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn12def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn13def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn15def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn22def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn2313def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn24def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn25def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn261def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn26def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn28def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn43Udef.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn44def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn45def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn461def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn48def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn84def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn85def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/tn861def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/usb1286def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/usb1287def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/usb162def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/usb646def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/usb647def.inc filter=lfs diff=lfs merge=lfs -text
AVR2/usb82def.inc filter=lfs diff=lfs merge=lfs -text
